<p id="notice"><%= notice %></p>

<h1>Doses</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @doses.each do |dose| %>
      <tr>
        <td><%= dose.description %></td>
        <td><%= link_to 'Show', cocktail_doses_path %></td>
        <td><%= link_to 'Edit', edit_cocktail_dose(dose) %></td>
        <td><%= link_to 'Destroy', cocktail_dose_path, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dose', new_cocktail_dose_path %>
